{% extends 'blog/base.html' %}
{% block main-area %}

    <!-- Post content-->
    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ post2.title }}</h1>
            {% if post2.uploaded_file %}
            <button><a href={{ post2.uploaded_file.url }} download>다운로드</a></button>
            <div  style="text-align: right">
                <a>첨부파일: {{post2.uploaded_file.name}}</a>
            </div>
            {% endif %}
            <a class="btn btn-primary" href="/blog/{{ post2.pk }}/delete">글 삭제</a>
            <a class="btn btn-danger" href="/blog/{{ post2.pk }}/update">글 수정</a>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">{{ post2.created_date }}</div>
            <div class="text-muted fst-italic mb-2">작성자 : [{{ post2.author }}]</div>
            <!-- Post categories-->
            {% if post2.category %}
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">⭐{{ post2.category.name}}⭐</a>
            {% else %}
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">카테고리 미설정</a>
            {% endif %}
        </header>

        <figure class="mb-4">
            {% if post2.uploaded_img %}
            <img class="img-fluid rounded" src={{ post2.uploaded_img.url }} alt="..." />
        </figure>
            {% else %}
            <img class="img-fluid rounded" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
            {% endif %}

        <!-- Post content-->
        <section class="mb-5">
            <p class="fs-5 mb-4">{{ post2.content }}</p>
            <p class="fs-5 mb-4"></p>
            <p class="fs-5 mb-4"></p>
            <h2 class="fw-bolder mb-4 mt-5"></h2>
            <p class="fs-5 mb-4"></p>
            <p class="fs-5 mb-4"></p>
        </section>
    </article>
    <!-- Comments section-->
    <section class="mb-5">
        <div class="card bg-light">
             <div class="card-body">



                {% include 'blog/commentform.html' %}



                {% for c in  comment%}

                <!-- Comment with nested comments-->
                    <div class="ms-3">
                        <div class="fw-bold">{{ c.author }}</div>
                        {{c.content}}
                        <br>
                        <a class="btn btn-success" href="{% url 'updateComment' c.pk %}">댓글수정</a>
                        <a class="btn btn-warning" href='/blog/{{ c.pk }}/deleteComment'>댓글삭제</a>


                    </div>

                {% endfor %}

        <a class="btn btn-primary" href='/blog/'>목록으로 이동 →</a>
             </div>
        </div>
    </section>

{% endblock %}
{% block sidebar %}
<div class="col-lg-4">
                    <!-- Search widget-->
                    <a class="btn btn-primary" href='/blog/create/'>글쓰기 →</a>
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="검색어를 입력하세요" aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">검색</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                                    <ul class="list-unstyled mb-0">
                                        {% for category in categories %}
                                              <li><a href="/blog/category/{{ category.slug }}">{{ category.name }}</a></li>
                                        {% endfor %}
                                              <li><a href="/blog/category/no_category">미분류</a> </li>
                                    </ul>


                            </div>
                        </div>
                    </div>
                    </div>
{% endblock %}