{% extends 'blog/base.html' %}
{% block main-area %}
<div style="font-family: 'cursive'; font-size: 42px ;color: black" >
<a>게시글 작성</a>
</div>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-lg-10" >
        <h6>제목 : {{ postform.title }}</h6>
        <h6>내용 : {{ postform.content }}</h6>
        <h6>사진 : {{ postform.uploaded_img }}</h6>
        <h6>파일 : {{ postform.uploaded_file }}</h6>
        <h3><input type="submit"></h3>
    </div>
    <a href="#">뒤로가기</a>
</form>
{% endblock %}