{% extends 'blog/base.html' %}
{% block main-area %}

    <!-- Post content-->
    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
            {% if post.uploaded_file %}
            <button><a href={{ post.uploaded_file.url }} download>다운로드</a></button>
            <div  style="text-align: right">
                <a>첨부파일: {{post.uploaded_file.name}}</a>
            </div>
            {% endif %}
            {% if user.is_authenticated and post.author == user %}
                <a class="btn btn-primary" href="/blog/{{ post.pk }}/delete">글 삭제</a>
                <a class="btn btn-danger" href="/blog/{{ post.pk }}/update">글 수정</a>
            {% endif %}
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">{{ post.created_date }}</div>
            <div class="text-muted fst-italic mb-2">작성자 : [{{ post.author }}]</div>
            <!-- Post categories-->
            {% if post.category %}
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">⭐{{ post.category.name}}⭐</a>
            {% else %}
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">카테고리 미설정</a>
            {% endif %}
        </header>

        <figure class="mb-4">
            {% if post.uploaded_img %}
            <img class="img-fluid rounded" src={{ post.uploaded_img.url }} alt="..." />
        </figure>
            {% else %}
            <img class="img-fluid rounded" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
            {% endif %}

        <!-- Post content-->
        <section class="mb-5">
            <p class="fs-5 mb-4">{{ post.content }}</p>
            <p class="fs-5 mb-4"></p>
            <p class="fs-5 mb-4"></p>
            <h2 class="fw-bolder mb-4 mt-5"></h2>
            <p class="fs-5 mb-4"></p>
            <p class="fs-5 mb-4"></p>
        </section>
    </article>
    <!-- Comments section-->
    <section class="mb-5">
        <div class="card bg-light">
             <div class="card-body">



                {% include 'blog/commentform.html' %}



                {% for comment in  comments%}

                <!-- Comment with nested comments-->
                    <div class="ms-3">
                        <div class="fw-bold">{{ comment.author }}</div>
                        {{comment.content}}
                        <br>
{#                    로그인한 유저랑 댓글유저랑 같으면 수정 삭제 버튼 활성화#}
                        {% if user.is_authenticated and comment.author == user %}
                            <a class="btn btn-success" href="{% url 'updateComment' comment.pk %}">댓글수정</a>
                            <a class="btn btn-warning" href='/blog/{{ comment.pk }}/deleteComment'>댓글삭제</a>
                        {% endif %}


                    </div>

                {% endfor %}

        <a class="btn btn-primary" href='/blog/'>목록으로 이동 →</a>
             </div>
        </div>
    </section>

{% endblock %}
{% block sidebar %}
{% include 'blog/sidebar.html' %}
                    </div>
{% endblock %}